{% extends "base_template.html" %}

{% block content %}

	<h1>About</h1>

	The purpose of this site is to describe physics, in a manner that is as easy to understand as possible. It is split into two parts: a collection of articles on specific topics, and a selection of courses covering some of the key areas in physics.

	<h2>Articles</h2>

	Each article comes in three different versions: Layman, Enthusiast and Expert. This is to take account of the fact that different people reading the articles may have different levels of understanding of the concepts involved. These versions correspond to the complexity of the explanation given. The Layman level of complexity is pitched at those who are assumed to have virtually no prior knowledge of Physics. An average member of the public. The Enthusiast level of complexity is aimed at the standard high school student studying Physics, which in UK educational terms means somewhere around the GCSE level, possibly approaching A Level standard. The Expert level of complexity is targeted at those studying Physics at degree level.

	<h2>Courses</h2>

	The courses may share some content with the articles, but their purpose is somewhat different. They are designed to convey a comprehensive understanding of entire sections of Physics, from Mechanics to Quantum Mechanics, to Thermodynamics. The aim is to provide a structured series of articles that can be worked through at a pace comfortable to whomever wishes to read them. Hopefully by the end the reader will have reached a reasonably solid level of understand of the topic.

{% endblock content %}
