<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
            <title>MegaPhysics</title>
    {% endblock title %}

    {% block head %}{% endblock head %}

    <!-- Minified and concatenated css -->
    <link href="/assets/styles.min.css" rel="stylesheet">
    
</head>

<body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">Megaphysics</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if pagetitle == "index" %} class="active" {% endif %} ><a href="/index.html">Home</a></li>
                    <li {% if pagetitle == "about" %} class="active" {% endif %} ><a href="/about.html">About</a></li>
                    <li {% if pagetitle == "articles" %} class="active" {% endif %} ><a href="/articles.html">Articles</a></li>
                    <li {% if pagetitle == "courses" %} class="active" {% endif %} ><a href="/courses.html">Courses</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="maincontent">
            {% block content %}
                Base template.
            {% endblock content %}
        </div>
    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
