{% extends "base_template.html" %}

{% block content %}
	<h1>Megaphysics Home</h1>
	
	Welcome to MegaPhysics, a site designed to help people understand Physics. It is currently still under heavy construction, and will hopefully have much more content in the future, but feel free to browse what it contains so far.
	<br>
	We have a collection of <a href = "articles.html">articles</a> spanning a wide range of topics in Physics. We also have a number of <a href = "courses.html">courses</a> that cover the broader areas of Physics. For more information about the site, try our <a href = "about.html">about</a> page.

{% endblock content %}
